.admin_dash {
  background-color: var(--background);
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 1rem 100px;
}

.profile_section {
  background: var(--background-element);
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 4px var(--shadow);
}

.title{
 text-align: left;
 color: var(--text);
}

.border{
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 10px;
}

.jobDesc{
  height: 150px;
}

.top_info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 1rem;
}

.avatar_default {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_text_block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.details h2 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text);
}

.details p {
  margin: 2px 0;
  font-size: .85rem;
  color: var(--text-grey);
}

.edit_btn {
  background: var(--accent-blue);
  color: #fff;
  padding: .4rem .8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: .85rem;
}

.stats {
  display: flex;
  gap: 10px;
}

.stat {
  flex: 1;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  font-size: .9rem;
}

.green {
  background: #d1f3db;
  color: #027a48;
}

.pink {
  background: #fce7f3;
  color: #9f1239;
}

.purple {
  background: #ede9fe;
  color: #6b21a8;
}

.toggle_section {
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;
}

.toggle_tab {
  flex: 1;
  padding: .6rem;
  background: #eef2ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.toggle_tab.active {
  background: var(--accent-blue);
  color: #fff;
}

.application_holder {
  background: var(--background-element);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 4px var(--shadow);
}

.tabBar {
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;
}

.tab {
  flex: 1;
  padding: .6rem;
  background: #eef2ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

.activeTab {
  background: var(--accent-blue);
  color: #fff;
}

.form label{
  text-align: left;
}

.form_group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
  color: var(--text);
}

.chip {
  padding: 6px 12px;
  margin: 4px;
  border: 1px solid var(--border);
  border-radius: 20px;
  background-color: var(--background-element);
  color: var(--text);
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.selected {
  background: var(--accent-blue);
  color: white;
}

.form_group input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 0.95rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.row .form_group {
  flex: 1;
}

.submit_btn {
  padding: .6rem;
  background: var(--accent-blue);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  width: 300px;
  font-size: 20px;
}

.bottom_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-element);
  color: var(--text);
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--border);
  z-index: 10;
}

.bottom_nav svg {
  cursor: pointer;
  color: var(--text);
}