@keyframes fadeDown {
    from{
        opacity: 0;
        transform: translateY(-50px);

    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(100px);

    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes fadeIn {
    from{
        opacity: 0;
    

    }
    to{
        opacity: 1;
        
    }
    
}




#title{
    display: block;
    width:790px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    animation: fadeDown 0.7s ease-out forwards;
    
   
}

#house{
    display: block;
    position: relative;
    top: 120px;
    width: 355px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 0.95s ease-in ; 

   
   
}

#hands{
position: relative;

top: -27px;
animation: fadeUp 0.9s ease-in ;  
}

@media (max-width: 480px) {
  #title {
    width: 90%;
    top: 80px;
  }

  #house {
    width: 80%;
    top: 100px;
  }

  #hands {
    width: 85%;
    top: 13px;
  }
}