.login_page {
  background-color: #dbe8ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login_card {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.login_logo {
  width: 48px;
  margin-bottom: 1rem;
}

.login_heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.login_subheading {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.login_form {
  text-align: left;
}

.form_group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
  color: #333;
}

.form_group input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

.error_message {
  color: #f44336;
  font-size: 0.75rem;
  margin-top: 0.3rem;
}

input.error {
  border: 1px solid #f44336;
}

.submit_button {
  display: block;
  margin: 1.2rem auto 0 auto;
  width: 100%;
  padding: 0.8rem;
  background-color: #4e7fff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit_button:hover {
  background-color: #3c65d1;
}

.register_redirect {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #444;
}

.link {
  color: #4e7fff;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 480px) {
  .login_card {
    padding: 1.5rem;
  }

  .login_heading {
    font-size: 1.3rem;
  }

  .login_subheading {
    font-size: 0.85rem;
  }

  .submit_button {
    font-size: 0.95rem;
  }

  .form_group input {
    font-size: 0.9rem;
    padding: 0.55rem;
  }
}